body {
	background-color:  #33ccff; 
	cursor: url(http://ani.cursors-4u.net/people/peo-9/peo1023.cur), auto;
}

header {
	background-color:  #ff6600; 
}

h1 {
	font-family: timesnewroman;
}

ul {
	font-size: 30px;
	color: black;
	font-family: Garamond;
}

h2 {
	font-family: garamond;
	font-size: 30px;
}
